* {
    font-family: 'Source Code Pro', monospace;
}

body {
    margin: 0 auto;
    width: 1024px;
}

header h1{
    text-align: center;
}

main {
    order: 1;
    width: 75%;
}

aside {
    order: 0;
    width: auto;
    margin: 5px 15px;
    background-color: #c43f5a; 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

aside h2 {
    margin: 5px;
}

aside p {
    margin: 5px;
}

.container {
    display: flex;
}

.portrait {
    text-align: center;
    margin: 15px 15px;
}

.portrait img {
    width: 256px;
    height: 256px;
}

section {
    margin: 5px;
}

footer {
    bottom: 0px;
    text-align: center;
}